{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAT</title>
    <link rel="stylesheet" type="text/css" href="../static/node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-light bg-light">

    <a class="navbar-brand" href=".">CAT - Corpus of Academic Texts</a>
    <a class="nav-link" href="collocations#">Словарь коллокаций</a>
    <form class="form-inline my-2 my-lg-0" action="search" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск по корпусу" aria-label="Search"
               name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
    </form>

</nav>
<link rel="stylesheet" type="text/css" href="../static/css/cat_check.css">

<div class="check" id="check1">
    <h3>Проверка текста на академичность</h3>
</div>
<div class="check-cat" id="check2">
    <div class="check">
        <p> Этот инструмент позволит вам узнать, насколько ваша работа соответствует нормам академического письма
            (научному
            стилю).</p>
        <h4>Введите текст:</h4>


        <form action="intext" method="post">
            {% csrf_token %}
            <textarea class="form-control" rows="5" placeholder="Введите текст" name="paste_text"></textarea>
            <div class="check">
                <button type="submit" class="btn btn-primary btn-lg">Проверить</button>
            </div>
        </form>

    </div>
    <div style="flex-grow: 0">
        <img src="{% static 'img/cat8.jpg' %}"/>
    </div>
</div>


<script id="catImage" type="text/html">
    <img src="{% static 'img/cat7.jpg' %}"/>
</script>
<script id="backButton" type="text/html">
<div class="cat">
    <h4>Объяснение разметки:</h4>
    <span style="background-color: DeepSkyBlue;">Повелительное наклонение</span>
    <span style="background-color: Violet;">Сослагательное наклонение</span>
    <span style="font-weight:bold;color: Red;">Слово неакадемического стиля</span>
    <span style="background-color: SlateBlue;">Длинная генитивная цепочка</span>
    <span style="background-color: #66CDAA">Ошибка в сравнительной степени</span>
    <span style="background-color: #228B22">Неудачная сочинительная группа</span>
    <span style="font-weight:bold;color: #8B008B;>Неудачные личное местоимение</span>
    <div class="check">
        <form method="post" action="check">
            {% csrf_token %}
            <button class="btn btn-xs btn-primary" type="submit">Вернуться к проверке</button>
        </form>
    </div>
    </div>
</script>


</body>
<script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "cat_check.js" %}"></script>
</html>