{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cat_check.css' %}">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href=".">CAT - Corpus of Academic Texts</a>
    <a class="nav-link" href="check#">Проверка текста на академичность</a>
    <a class="nav-link" href="collocations#">Словарь коллокаций</a>
</nav>
<div class="collocations">
    <div class="collocations-text">
    <h3>Словарь коллокаций</h3>
    <p>{{out}}</p>

    <table id="collocationTable" class="table table-striped table-bordered table-hover">
        <div class="offset-md-12 col-md-12 col-sm-12">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <form method="post" action="search_collocations">
                        {% csrf_token %}
                        <input type="hidden" name="search_collocations" value={{searched}}>
                        <input type="hidden" name="n" value="2">
                        <button class="btn btn-xs btn-primary" type="submit">биграммы</button>
                    </form>
                </li>
                <li class="list-inline-item">
                    <form method="post" action="search_collocations">
                        {% csrf_token %}
                        <input type="hidden" name="search_collocations" value={{searched}}>
                        <input type="hidden" name="n" value="3">
                        <button class="btn btn-xs btn-primary" type="submit">триграммы</button>
                    </form>
                </li>

                <li class="list-inline-item">
                    <form method="post" action="search_collocations">
                        {% csrf_token %}
                        <input type="hidden" name="search_collocations" value={{searched}}>
                        <input type="hidden" name="n" value="4">
                        <button class="btn btn-xs btn-primary" type="submit">4-граммы</button>
                    </form>
                </li>
                <li class="list-inline-item">
                    <form method="post" action="search_collocations">
                        {% csrf_token %}
                        <input type="hidden" name="search_collocations" value={{searched}}>
                        <input type="hidden" name="n" value="5">
                        <button class="btn btn-xs btn-primary" type="submit">5-граммы</button>
                    </form>
                </li>
                <li class="list-inline-item">
                    <form method="post" action="search_collocations">
                        {% csrf_token %}
                        <input type="hidden" name="search_collocations" value={{searched}}>
                        <input type="hidden" name="n" value="6">
                        <button class="btn btn-xs btn-primary" type="submit">6-граммы</button>
                    </form>
                </li>
            </ul>
        </div>
        <thead>
        <th>№</th>
        <th>Вхождение</th>
        <th>Часть речи</th>
        <th>Абсолютная частота</th>
        <th>Нормализованная частота</th>
        <th>PMI</th>
        <th>log-likelihood</th>
        <th>t-score</th>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.id_collocation}}</td>
            <td>{{item.occurence}}</td>
            <td>{{item.POS_tag}}</td>
            <td>{{item.absolute_frequency}}</td>
            <td>{{item.normalized_frequency}}</td>
            <td>{{item.PMI}}</td>
            <td>{{item.log_likelihood}}</td>
            <td>{{item.t_score}}</td>
        </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <th>№</th>
            <th>Вхождение</th>
            <th>Часть речи</th>
            <th>Абсолютная частота</th>
            <th>Нормализованная частота</th>
            <th>PMI</th>
            <th>log-likelihood</th>
            <th>t-score</th>
        </tr>
        </tfoot>
        </tbody>
    </table>
        </div>
</div>
</body>
<script src="{% static 'jquery-3.3.1.js' %}"></script>
<script src="{% static 'bootstrap.js' %}"></script>
<script src="{% static 'dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'jquery.dataTables.min.js' %}"></script>
<script src="{% static 'main.js' %}"></script>
</html>