<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAT</title>
    <link rel="stylesheet" type="text/css" href="../static/node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="index.html">CAT - Corpus of Academic Texts</a>
    <a class="nav-link" href="check#">Проверка текста на академичность</a>
    <a class="nav-link" href="collocations#">Словарь коллокаций</a>
</nav>
<h3>Поиск в корпусе академических текстов</h3>
<p>Лемма</p>

<h3>Поиск в словаре коллокаций</h3>
</body>
</html>